<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html;charset=utf-8">
    <script type="text/javascript" src="/static/js/jquery-1.7.2.min.js" ></script>
    <script type="text/javascript" src="/static/js/chpwd.js" ></script>
    <link type="text/css" href="/the.css" rel="stylesheet"></link>
  	 <style type="text/css">
      body{ 
            padding-left:40%;
            padding-right:40%;
            width: 20%; 
            background:#eee;
            padding-top:50px;
      }
      .button {
        margin-top: 10px; 
        margin-left: 0px;
      }
    </style>
    <title>
      更改密码
    </title>
  </head>
  <body>
    <form id="f" action="/">
      <input id="oldpass" placeholder="原密码" type="password" value=""/><br>
      <input id="newpass" placeholder="新密码" type="password" value=""/><br>
      <input id="reppass" placeholder="请重复" type="password" value=""/><br>
      <input id="ok" type="submit" value="确定" class="button">
      <input id="cancel" type="button" value="取消" class="button"/>
    </form>
    <span id="msg"></span>
  </body>
</html>
