<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <handlers accessPolicy="Read, Execute, Script">
            <remove name="CGI-exe" />
            <remove name="python" />
            <remove name="py" />
            <add name="python" path="*.py" verb="*" modules="CgiModule" scriptProcessor="d:\python27\python.exe &quot;%s&quot; &quot;%s&quot;" resourceType="Unspecified" requireAccess="Script" />
            <add name="CGI-exe" path="*.exe" verb="*" modules="CgiModule" resourceType="File" requireAccess="Execute" allowPathInfo="true" />
        </handlers>
    </system.webServer>
</configuration>
